/* app css stylesheet */

/*predefine style*/
html{
  font-size: 100%;
}
body{
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: #000000;
}
ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}
/*predefine style*/

/*header style, start*/
#main_header{
  position: fixed;
  width: 100%;
  /*height: 50px;*/
  height: 3.125em;
  /*padding: 0 20px;*/
  padding: 0 1.25em;

  background-color: #666666;
}
#main_header nav{
  display: inline-block;
  /*line-height: 50px;*/
  line-height: 3.125em;
}
/*#main_header nav:before{
  content: '['
}
#main_header nav:after{
  content: ']'
}*/
#main_header nav a{
  color: #ffffff;
}
/*header style, end*/

/*section style, start*/
#main_section{
  position: absolute;
  /*top: 50px;*/
  top: 3.125em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}
/*section style, end*/