<section id="home">
	<ul id="article_list">
		<li class="item-1"><a href="">I am article title 1</a></li>
		<li class="item-2"><a href="">I am article title 2</a></li>
		<li class="item-3"><a href="">I am article title 3</a></li>
		<li class="item-4"><a href="">I am article title 4</a></li>
		<li class="item-5"><a href="">I am article title 5</a></li>
		<li class="item-6"><a href="">I am article title 6</a></li>
		<li class="item-7"><a href="">I am article title 7</a></li>
		<li class="item-8"><a href="">I am article title 8</a></li>
		<li class="item-9"><a href="">I am article title 9</a></li>
		<li class="item-10"><a href="">I am article title 10</a></li>
	</ul>
</section>